@import './reset.css';
@import './variables.css';
@import './utilities.css';


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}