---
export const prerender = false;

import { actions } from 'astro:actions';
---

<form
    method='POST'
    action={actions.sendContactForm}
    style='display: flex; flex-direction: column; gap: 1rem; max-width: 300px;'
>
    <input type='text' name='name' placeholder='Name' required />
    <input type='text' name='method' placeholder='Method' required />
    <input type='text' name='contact' placeholder='Contact' required />
    <button type='submit'>Submit</button>
</form>
