---
import LanguageSwitcher from './LanguageSwitcher.astro';
import Logo from '@/assets/icons/snake-icon-white.svg';
---

<header class='header'>
    <a href='/' class='header__logo'>
        <Logo width={45} height={41} aria-label='go to home page' />
    </a>

    <nav class='header__nav'>
        <ul class='header__nav-list'>
            <li class='header__nav-item'>
                <a href='#' class='header__nav-link'>Team</a>
            </li>
            <li class='header__nav-item'>
                <a href='#' class='header__nav-link'>Benefits</a>
            </li>
            <li class='header__nav-item'>
                <a href='#' class='header__nav-link'>Join Us</a>
            </li>
            <li class='header__nav-item'>
                <LanguageSwitcher />
            </li>
        </ul>
    </nav>
</header>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav-list {
        display: flex;
        gap: 20px;
    }

    .header__nav-item {
        padding: 10px;
    }

    .header__nav-link {
        font-family: var(--font-heading);
        color: var(--color-brand-primary);
        font-size: 20px;
        font-weight: 700;
        text-decoration-line: underline;
        text-underline-position: from-font;
        text-decoration-style: solid;
        text-transform: uppercase;
        transition: color 0.2s ease;
    }

    .header__nav-link:hover {
        color: var(--color-text-primary);
    }
</style>
