---

---

<div class='lang-switcher' aria-label='change language'>
    <a
        href='#'
        class='active'>ENG</a
    >
    <span class='divider'>/</span>
    <a
        href='#'
        >РУС</a
    >
</div>

<style>
    .lang-switcher {
        display: flex;
        gap: 2px;
        font-weight: bold;
    }
    .divider {
        color: var(--color-brand-primary);
        font-size: 20px;
        font-weight: 700;
    }
    a {
        font-family: var(--font-heading);
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;

        text-transform: uppercase;
    }
    a.active {
        color: var(--color-brand-primary); /* Активный цвет */
        text-decoration-line: underline;
        text-underline-position: from-font;
        text-decoration-style: solid;
    }
</style>
